h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
a {
	font-family: $main-font;
}
.mainfont__regular {
	font-family: $main-font;
	font-weight: 400;
}

.mainfont__medium {
	font-family: $main-font;
	font-weight: 500;
}

.mainfont__semibold {
	font-family: $main-font;
	font-weight: 600;
}

.mainfont__bold {
	font-family: $main-font;
	font-weight: 700;
}