.carousel {
  width: 100%;
  background-color: #000;
  height: 100%;
  position: relative;

    .carousel-fade .carousel-inner {
      height: 100%;

      .item {
        -webkit-transition-property: opacity;
        transition-property: opacity;
        height: 100%;
        opacity: 0;
      }

      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }

      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }

    .carousel-fade .carousel-control {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .carousel-fade .carousel-control .glyphicon {
      display: none;
    }

    .stopfade {
      opacity: 0.5;
    }

    .active > img{
      transform:scale(1.1);
      -webkit-transform: scale(1.1);
      -webkit-transition: -webkit-transform 5s ease-out;
      transition: -webkit-transform 5s ease-out;
      transition: transform 5s ease-out;
      transition: transform 5s ease-out, -webkit-transform 5s ease-out;
    }

    .slide-content  {
      position: absolute;
      top: 50%;
      left:50%;
      -webkit-transform:translate(-50%,-55%);
              transform:translate(-50%,-55%);
      text-align: center;
      width: 100%;
      
      .banner-logo {
        margin-bottom: 60px;
      }

      button.search__btn {
        outline: none;
        border: none;
        width: 170px;
      }

      input[type=text] {
        @include white-textbox;
        width: 300px;
      }

      input{
        margin-right: 20px;
      }
    }

}

/* == REVOLVING CAROUSEL ==*/

.revolving-carousel {
  width: 100%;
  position: relative;
  margin-top: 30px;
  overflow-x:hidden;
}
.revolving-carousel__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background-color: white;
}
.revolving-carousel__arrow--left {
  left: 15px;
}
.revolving-carousel__arrow--right {
  right: 15px;
}
.revolving-carousel__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  will-change: transform;
}

.revolving-carousel__slides li {
  margin-right: 20px;
  position: relative;
}

.revolving-carousel__slides li img{
  width: 221px;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;        
}

.revolving-carousel__slides li h4 {
  @include overlay-title;
}

.revolving-carousel__slides .overlay {
  @include overlay;
}

.revolving-carousel__slides li:hover img{
  //-webkit-transform: scale(1.05);
   //       transform: scale(1.05);
}

.revolving-carousel__slides li:hover .overlay {
  opacity: 1;
}


// FEATURED SERVICES

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
  color: rgb(114,114,114);
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}