
/* ==== FORMS ==== */

label {
    display: block;

    font-family: $secondary-font;
    font-weight: 700;

    color: #484848;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea.input-lg {
    display: block;
    width: 100%;
    padding: 24px 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .2s;
            transition: all .2s;

    color: #666;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    outline: none;
    background: #fff;
    box-shadow: none;
    &:hover {
        border-color: $primary-color;
    }
    &:focus {
        border-color: $secondary-color;
        outline: none;
        box-shadow: none;
    }
}

input[type="submit"],
button[type="submit"] {
    display: inline-block;
    margin-bottom: 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    border: none;
    border-radius: 0;
    background-image: none;
}

form.search-form .form-group {
    margin: 0;
}

form.search-form .input-group {
    width: 100%;
}

form.search-form .input-group input[type="search"],
form.search-form .input-group input[type="text"] {
    width: 70%;
}

form.search-form .input-group input[type="submit"] {
    float: right;
    width: 30%;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form textarea {
    width: 100%;

    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
