// ==== COLORS ====
$primary_color : #ef4a23;
$secondary_color : #3b5a9a;
$main-bg-color : rgb(244,244,244);
$primary-text-color : rgb(43,43,43);



// ==== FONTS ====
$main-font : 'Raleway', sans-serif;