// ==== COLORS ====
$primary_color : #ef4a23;
$secondary_color : #3b5a9a;
$primary-text-color : rgb(43,43,43);
$section-bg-color : rgb(244,244,244);
$primary_overlay_color : rgba(239,74,35,0.7);


// ==== FONTS ====
$main-font : 'Raleway', sans-serif;