// ==== COLORS ====
$primary_color : #ef4a23;
$secondary_color : #3b5a9a;
$primary-text-color : rgb(43,43,43);
$section-bg-color : rgb(244,244,244);
$primary_overlay_color : rgba(239,74,35,0.7);
$footer-bg-color: rgb(59,90,154);
$footer-border-color: rgb(239,74,35);
$disabled-color: #d5d5d5;
$back-btn-color:#6c6c6c;
$gray-border-color:#dce0e0;

// ==== FONTS ====
$main-font : 'Raleway', sans-serif;