.hero-banner {height: 500px;}
 .hero-banner .owl-carousel .item {
  height: 500px;
  color: #fff;
  position: relative; 
}

.hero-banner .owl-carousel .item img {
	height: 100%;
	object-fit:cover;
}
 .hero-banner .owl-nav,
 .hero-banner .owl-dots{
  display: none;
}

.hero-banner {
  position: relative;
  overflow: hidden;

    .slide-content  {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 99;
      width: 100%;
      
      .banner-logo {
        margin-bottom: 60px;
        text-align: center;

        img {
        	margin: 0 auto;
        }
      }

      form {
      	text-align: center;
      }

      button.search__btn {
        outline: none;
        border: none;
        width: 170px;
      }

      input[type=text] {
        @include white-textbox;
        width: 300px;
        font-family: $main-font;
        font-size: 16px;
      }

      input{
        margin-right: 20px;
      }

      input#location {
         background-image: url('/../../frontend/imgs/icon-location.png');
         background-repeat: no-repeat;
         background-position: 10px 10px; 
         text-indent: 20px;
      }

      input#location:focus{
        background-image:none;
        padding-left: 20px;
        padding-right: 20px;
      }

      input#services {
         background-image: url('/../../frontend/imgs/icon-search.png');
         background-repeat: no-repeat;
         background-position: 10px 10px; 
         text-indent: 20px;
      }

      input#services:focus{
        background-image:none;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

}

/* == REVOLVING CAROUSEL ==*/

.revolving-carousel {
  width: 100%;
  position: relative;
  margin-top: 30px;
  overflow-x:hidden;
}
.revolving-carousel__arrow {
  position: absolute;
  top: 25%;
  z-index: 1;
  cursor: pointer;
  -webkit-transform:translate(0%, 50%);
          transform:translate(0%, 50%);
}

.revolving-carousel__arrow  i {
  color: #ddd;
  font-size: 60px;
}

.revolving-carousel__arrow--left {
  left: 15px;
  margin-left: -200px;
  -webkit-transition: margin-left 0.8s ease-in-out;
  transition: margin-left 0.8s ease-in-out;
}
.revolving-carousel__arrow--right {
  right: 0px;
  margin-right: -200px;
  -webkit-transition: margin-right 0.8s ease-in-out;
  transition: margin-right 0.8s ease-in-out;
}

.revolving-carousel:hover .revolving-carousel__arrow--left {
  margin-left: 0;
}

.revolving-carousel:hover .revolving-carousel__arrow--right {
  margin-right: 0;
}

.revolving-carousel__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  will-change: transform;
}

.revolving-carousel__slides li {
  margin-right: 20px;
  position: relative;
}

.revolving-carousel__slides li img{
  width: 221px;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: transform .35s ease-in-out;
  -webkit-transition: -webkit-transform .35s ease-in-out;
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;        
}

.revolving-carousel__slides li h4 {
  @include overlay-title;
}

.revolving-carousel__slides .overlay {
  @include overlay;
}

.revolving-carousel__slides li:hover img{
  /*-webkit-transform: scale(1.05);*/
   /*       transform: scale(1.05);*/
}

.revolving-carousel__slides li:hover .overlay {
  opacity: 1;
}


/* FEATURED SERVICES*/

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
  color: rgb(114,114,114);
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

#services-for-you,
#popular-services,
#how-it-works {
  background-color: $section-bg-color;
}


.gradient-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,.5)));
  background-image: linear-gradient(transparent, rgba(0,0,0,.5));
}

.item h4 {
	@include overlay-title;
}

.item .overlay {
	@include overlay;
}

.item:hover .overlay {
  opacity: 1;
}

.item:hover {
  background-color: rgba(0,0,0,0);
}


#top-rated-provider .item .overlay-box {
  position: absolute;
  top: 10px;
  left:10px;
  bottom:10px;
  right:10px;
  background-color: $primary_overlay_color;
  padding: 0 20px;
  text-align: center;
  margin-top: 150px;
  -webkit-transition: margin-top 0.4s;
	transition: margin-top 0.4s;
}

.overlay-box h3,
.overlay-box p {
	color: rgb(255,255,255);
}

.overlay-box h3 {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 20px;
}
.overlay-box .box-content {
	position: absolute;
	top: 80%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	width: 100%;
}

.overlay-box p,
.overlay-box .rating-stars{
	opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
	transition: opacity 0.35s ease-in-out;
}

.item h4 {
	@include overlay-title;
}

.item .overlay {
	@include overlay;
}

#top-rated-provider .item:hover .overlay-box {
  margin-top: 0px;
}

#top-rated-provider .item:hover .overlay-box .box-content {
  top: 50%
}

#top-rated-provider .item:hover .overlay-box .rating-stars,
#top-rated-provider .item:hover .overlay-box p {
  opacity: 1;
}

.item:hover {
  background-color: rgba(0,0,0,0);
}

#top-rated-provider a {
	width: 200px;
}



/* HOW IT WORKS*/

.how-it-works-wrap {
	width: 90%;
	margin-left: 5%;
}

.how-it-works-col {
	width: 80%;
	margin-left: 10%;
	text-align: center;
	position: relative;

	h3 {
		margin: 50px 0 30px;
		font-family: $main-font;
		color: $primary-text-color;
		font-weight: 700;
	}

	p {
		font-family: $main-font;
		font-size: 16px;
	}
}

.how-it-works-col.after:after {
	content: url('/frontend/imgs/gray-dots.png');
	position: absolute;
    left: 100%;
    top: 20%;
}


/* GET CONNECTED*/

#get-connected {
	background-image: url('/frontend/imgs/bg-get-connected.jpg');
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 500px;
}
.get-connected-content {margin-top: 75px;}
.get-connected-content h2,
.get-connected-content p {
	color: rgb(255,255,255);
	font-family: $main-font;
}

.get-connected-content h2 {
	font-size: 40px;
	margin-bottom: 30px;
	font-weight: 500;
}

.get-connected-content p {
	font-size: 18px;
	line-height: 2em;
}

#get-connected .mobile-apps {
	margin-top: 40px;
}


/* VIDEOS*/
.video-wrapper {
    position: relative;
    overflow: hidden;
}

.video-wrapper a {
	outline: none;
}

.video-wrapper a > img {
    width: 100%;
    vertical-align: middle;
    transform:scale(1);
	transition: transform 1s;
}


.video-overlay-play-button {
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,.5)));
    background-image: linear-gradient(transparent, rgba(0,0,0,.5));
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.video-wrapper circle,
.video-wrapper polygon {
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.video-wrapper:hover circle{
    stroke: $primary_color;
}
.video-wrapper:hover polygon{
    fill: $primary_color;
}

.video-wrapper:hover a > img {
	transform:scale(1.05);
}

.video-overlay-play-button.is-hidden {
    display: none;
}

.video-description {
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
}

.video-description h2,
.video-description p{
	color: $primary-text-color;
	font-family: $main-font;
}

.video-description h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

.video-description p {
	font-size: 16px;
}

#videos a.website__btn {
	width: 200px;
}

/* PROJECT COUNTER*/
#project-counter {
	background-color: rgb(0,173,239);
	padding: 55px 0;	
}

.counter-content {
	text-align: center;
}

.counter-content h2,
.counter-content p {
	font-family: $main-font;
	color: rgb(255,255,255);
}

.counter-content h2 {
	font-size: 65px;
	font-weight: 500;
}

.counter-content p {
	font-size: 18px;	
	text-transform: uppercase;	
}

/*==========  Media Queries  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}