.footer {
	background-color: $footer-bg-color;
	border-top: 6px solid $footer-border-color;
	padding: 50px 0;
}

.footer p,
.footer a {
	color: rgb(255,255,255);
	text-decoration: none;
	font-family: $main-font;
}

.footer .col-title {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 30px;
}

.footer .footer-nav,
.footer .social-media-nav {
	list-style: none;
}

.footer .social-media-nav {
	margin-bottom: 20px;
}

.footer .footer-nav li {
	padding: 5px 0;
}

.footer .footer-nav li:first-of-type {
	padding-top: 0;
}

.footer .social-media-nav li {
	display: inline;
	margin-right: 30px;
}